<div class="row full-row about-page">

    <img src="/images/hanabout.jpg">

    <div class="about-wrapper">

        <div class="col-sm-12 about-grey">
            
            <div class="about-circle">
                <div class="inner-circle">
                    HAN
                </div>
            </div>

            <div class="about-content">
                <p>HAN University of Applied Sciences offer almost every type of professional course related to the following domains: education, social studies, commerce, communications, business administration, law, economics, engineering, built environment, applied sciences, IT, health, nursing and sports and exercise.</p>
                <p><a href="http://www.han.nl/">www.han.nl</a></p>
            </div>

        </div>

        <div class="col-sm-12 about-yellow">

            <div class="about-circle">
                <div class="inner-circle">
                    ICA
                </div>
            </div>

            <div class="about-content">
                <p>Informatica Communications Academy (ICA) provids the HBO course and graduate programs at HAN University of Applied Sciences in the field of computer science, digital media and communications.</p>
                <p><a href="http://www.han.nl/gebied/informatica-media-communicatie/">www.han.nl/gebied/informatica-media-communication/</a></p>   
            </div>
        </div>

        <div class="col-sm-12 about-grey">

            <div class="about-circle">
                <div class="inner-circle">
                    ICA PRESENTS
                </div>
            </div>

            <div class="about-content">
                <p>ICA PRESENTS is a juried show that is done through the ICA department at the HAN. Students can submit and present their current semester projecs for a chance to win money.</p>
                <p><a href="http://www.icapresents.nl/">www.icaprestents.nl</a></p> 
            </div>

        </div>

    </div>

</div>

   <!--  <div class="col-sm-4 about-container about-grey">
        <div class="round-logo-background">
        </div>
        <div class="inner-image">
            <img src="http://lorempixel.com/400/200" alt="">
        </div>
        <div class="inner-text">
            <h2>Description</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <div class="col-sm-4 about-container about-yellow">
        <div class="round-logo-background">
        </div>
        <div class="inner-image">
            <img src="http://lorempixel.com/400/200" alt="">
        </div>
        <div class="inner-text">
            <h2>Description</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <div class="col-sm-4 about-container about-grey">
        <div class="round-logo-background">
        </div>
        <div class="inner-image">
            <img src="http://lorempixel.com/400/200" alt="">
        </div>
        <div class="inner-text">
            <h2>Description</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div> -->
