<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form id="imageform" enctype="multipart/form-data"> 

                    <h2>Upload Image</h2>

                    <div>
                        <label for="inputImage">Image</label>
                        <input id="inputImage" type="file" accept="image/*" name="image">

                        <img ng-show="image" ng-src="{{ image.url }}" type="{{ image.file.type }}">
                        <button uploadimageform type="submit">Add</button>
                        <button type="reset">Clear</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="menu-side">
    
    <div class="layout-item add-layout-image">
        <i class="fa fa-picture-o"></i>
    </div>

    <hr>

    <div class="layout-item add-layout-text-image">
        <i class="fa fa-align-left"></i>
        <i class="fa fa-picture-o"></i>
    </div>

    <hr>

    <div class="layout-item add-layout-image-text">
        <i class="fa fa-picture-o"></i>
        <i class="fa fa-align-left"></i>
    </div>

    <hr>

    <div class="layout-item add-layout-video">
        <i class="fa fa-video-camera"></i>
    </div>

</div>

<div class="menu-side-right">
    
    <form name="ProjectForm">

        <div class="form-group">
            <label for="title">Project titel</label>
            <input type="text" class="form-control" id="title" placeholder="Enter your project-titel" ng-model="formData.title" required>
        </div>
        <div multiple class="form-group">
            <select class="form-control" ng-model="formData.semester" required >
                <option value="CRIA">CRIA</option>
                <option value="ADEB">ADEB</option>
            </select>
        </div>
        <div class="form-group">
            <label for="students">Add the project students</label>
            <textarea class="form-control" id="students" placeholder="Add the project students" ng-model="formData.students" ng-list="&#10;" ng-trim="false" required></textarea>
        </div>
        <div class="form-group">
            <label for="content">Add your content</label>
            <input type="text" class="form-control" id="content" placeholder="Enter the project description" ng-model="formData.content" required>
        </div>
        <div class="form-group">
            <label for="grade">Select your grade</label>
            <input type="range" name="grade" id="grade" value="5" min="0" max="10" step="0.1" ng-model="formData.grade">
        </div>

        <p>
            <div id="colorSelector"><div style="background-color: #0000ff"></div></div>
        </p>

        <button type="submit" class="btn btn-default" ng-click="addProject()">Save</button>

    </form>

</div>


<div id="project-content">

    <div class="page-header text-center ng-scope">
        <div class="header-image">
            <img src="http://lorempixel.com/1200/250" alt="">
            <div class="project-logo">
                <img src="http://lorempixel.com/200/200" alt="">
            </div>
        </div>
    </div>

    <div class="container">
    
        <div class="project-layouts" id="project-layouts">
        
        </div>
        
        <div class="project-students" id="project-students">
        
        </div>

    </div><!--end container -->

</div><!-- end project-content -->

<a menuside href="#" class="menu-toggle pull-left">Toggle Menu</a>
<a menusideright href="#" class="menu-toggle-right pull-right">Toggle Menu Right</a>


<!-- <form name="ProjectForm" class="form">
    <div class="form-group">
        <label for="title">Project titel</label>
        <input type="text" class="form-control" id="title" placeholder="Enter your project-titel" ng-model="formData.title" required>
    </div>
    <div multiple class="form-group">
        <select class="form-control" ng-model="formData.semester" required >
            <option value="CRIA">CRIA</option>
            <option value="ADEB">ADEB</option>
        </select>
    </div>
    <div class="form-group">
        <label for="students">Add the project students</label>
        <textarea class="form-control" id="students" placeholder="Add the project students" ng-model="formData.students" ng-list="&#10;" ng-trim="false" required></textarea>
    </div>
    <div class="form-group">
        <label for="content">Add your content</label>
        <input type="text" class="form-control" id="content" placeholder="Enter the project description" ng-model="formData.content" required>
    </div>
    <div class="form-group">
        <label for="grade">Select your grade</label>
        <input type="range" name="grade" id="grade" value="5" min="0" max="10" step="0.1" ng-model="formData.grade">
    </div>
    <button type="submit" class="btn btn-default" ng-click="addProject()">Save</button>
</form> -->
