<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="imageform" enctype="multipart/form-data"> 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="imageModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h2>Upload Image</h2>

                    <div>
                        <label for="inputImage">Image</label>
                        <input id="inputImage" type="file" accept="image/*" name="image">

                        <img ng-show="image" ng-src="{{ image.url }}" type="{{ image.file.type }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button uploadimageform type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="textModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <textarea textform name="content" id="edit"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button uploadtextform id="submittextform" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="youtubeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="youtubeModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>YouTube link:</p>
                <input type="url" id="youtubeinput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button uploadyoutubeform id="submityoutubeform" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="menu-side">
    
    <div class="layout-item add-layout-image">
        <i class="fa fa-picture-o"></i>
    </div>

    <hr>

    <div class="layout-item add-layout-text-image">
        <i class="fa fa-align-left"></i>
        <i class="fa fa-picture-o"></i>
    </div>

    <hr>

    <div class="layout-item add-layout-image-text">
        <i class="fa fa-picture-o"></i>
        <i class="fa fa-align-left"></i>
    </div>

    <hr>

    <div class="layout-item add-layout-video">
        <i class="fa fa-video-camera"></i>
    </div>

</div>

<div class="menu-side-right">
    
    <form>

        <div class="form-group">
            <label for="title">Project titel</label>
            <input type="text" class="form-control" id="title" placeholder="Enter your project-titel" ng-model="formData.title" required>
        </div>
        <div multiple class="form-group">
            <select class="form-control" ng-model="formData.semester" required >
                <option value="CRIA">CRIA</option>
                <option value="ADEB">ADEB</option>
            </select>
        </div>
        <div class="form-group">
            <label for="students">Add the project students</label>
            <textarea class="form-control" id="students" placeholder="Add the project students" ng-model="formData.students" ng-list="&#10;" ng-trim="false" required></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="content">Add your content</label> -->
        <input style="display: none" type="text" class="form-control" id="content" placeholder="Enter the project description" ng-model="formData.content" required>
        <!-- </div> -->
        <div class="form-group">
            <label for="grade">Select your grade</label>
            <input type="range" name="grade" id="grade" value="5" min="0" max="10" step="0.1" ng-model="formData.grade">
        </div>

        <p>
            <div id="colorSelector"><div style="background-color: #0000ff"></div></div>
        </p>

        <button type="submit" class="btn btn-default" ng-click="addProject()">Save</button>

    </form>

</div>

<div class="container">
    
    <div class="project-actions">
        <a menuside href="#" class="menu-toggle btn btn-default pull-left">Toggle Menu</a>

        <a updatecontent href="#" id="save-project" class="save-project btn btn-default text-center">Save</a>

        <a menusideright href="#" class="menu-toggle-right btn btn-default pull-right">Toggle Menu Right</a>
    </div>

</div>

<div id="project-content">

    <div class="page-header text-center ng-scope">
        <div class="header-image">
            <div>
                <div data-toggle="modal" data-target="#imageModal" class="image select-image"><i class="fa fa-plus-circle"></i> image banner</div>
            </div>
            <div class="project-logo">
                <div> 
                    <div data-toggle="modal" data-target="#imageModal" class="image select-image"><i class="fa fa-plus-circle"></i> logo</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div simpletextform id="simpleedit" class="project-title-edit">Project title (edit me by clicking me)</div>
    
        <div class="project-layouts" id="project-layouts">
        
        </div>
        
        <div class="project-students" id="project-students">
        
        </div>

    </div><!--end container -->

</div><!-- end project-content -->
