<div class="container">

    <div role="tabpanel">
    
        <h2>Administrator Panel</h2>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active:isSet(1) }"><a ng-click="setTab(1)">Profiles</a></li>
            <li ng-class="{ active:isSet(2) }"><a ng-click="setTab(2)">Semesters</a></li>
            <li ng-class="{ active:isSet(3) }"><a ng-click="setTab(3)">Projects</a></li>
            <li ng-class="{ active:isSet(4) }"><a ng-click="setTab(4)">Users</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" ng-show="isSet(1)">

                <div class="row">

                    <div class="col-xs-12 col-sm-7">
                        
                        <table class="table table-striped">

                            <tr>
                                <th>ID <a href="" ng-click="reverse=false; orderProfiles('_id', false)">&uArr;</a><a href="" ng-click="reverse=false; orderProfiles('-_id', false)">&dArr;</a></th>
                                <th>Name <a href="" ng-click="reverse=false; orderProfiles('name', false)">&uArr;</a><a href="" ng-click="reverse=false; orderProfiles('-name', false)">&dArr;</a></th>
                                <th>Actions</th>
                            </tr>

                            <tr ng-repeat="profile in profiles">
                                <td>{{ profile._id }}</td>
                                <td>{{ profile.name }}</td>
                                <td><a href="" ng-click="getProfileData(profile._id)">Edit</a> / <a href="" ng-click="removeProfile(profile._id)">Delete</a></td>
                            </tr>
                            
                        </table>

                    </div>

                    <div class="col-xs-12 col-sm-5" ng-hide="showEditProfile">

                        <h3>Add Profile</h3>
                        
                        <form name="Add profile">
                            
                            <div class="form-group">
                                <label for="profilename">Profile name</label>
                                <input type="text" class="form-control" id="profilename" placeholder="Profile name" ng-model="formDataProfile.name" required>
                            </div>

                            <div class="form-group">
                                <label for="profiledescription">Profile description</label>
                                <textarea class="form-control" id="profiledescription" placeholder="Profile description" rows="5" ng-model="formDataProfile.description" required></textarea>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="addProfile()">Save profile</button>
                            </div>

                        </form>

                    </div>
                    
                    <div class="col-xs-12 col-sm-5" ng-show="showEditProfile">

                        <h3>Edit Profile</h3>
                        
                        <form name="Edit profile">
                            
                            <div class="form-group">
                                <label for="profilename">Profile name</label>
                                <input type="text" class="form-control" id="profilename" placeholder="Profile name" ng-model="profile.name" required>
                            </div>

                            <div class="form-group">
                                <label for="profiledescription">Profile description</label>
                                <textarea class="form-control" id="profiledescription" placeholder="Profile description" rows="5" ng-model="profile.description" required></textarea>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="editProfile()">Update profile</button>
                            </div>

                        </form>

                    </div>

                </div>
    
            </div><!-- end tab-pane -->

            <div class="tab-pane active" ng-show="isSet(2)">

                <div class="row">

                    <div class="col-xs-12 col-sm-7">
                        
                        <table class="table table-striped">

                            <tr>
                                <th>ID <a href="" ng-click="reverse=false; orderSemesters('_id', false)">&uArr;</a><a href="" ng-click="reverse=false; orderSemesters('-_id', false)">&dArr;</a></th>
                                <th>Name <a href="" ng-click="reverse=false; orderSemesters('name', false)">&uArr;</a><a href="" ng-click="reverse=false; orderSemesters('-name', false)">&dArr;</a></th>
                                <th>Actions</th>
                            </tr>

                            <tr ng-repeat="semester in semesters">
                                <td>{{ semester._id }}</td>
                                <td>{{ semester.name }}</td>
                                <td><a href="" ng-click="getSemesterData(semester._id)">Edit</a> / <a href="" ng-click="removeSemester(semester._id)">Delete</a></td>
                            </tr>
                            
                        </table>

                    </div>

                    <div class="col-xs-12 col-sm-5" ng-hide="showEditSemester">

                        <h3>Add Semester</h3>
                        
                        <form name="Add semester">
                            
                            <div class="form-group">
                                <label for="semestername">Semester name</label>
                                <input type="text" class="form-control" id="semestername" placeholder="Semester name" ng-model="formDataSemester.name" required>
                            </div>

                            <div class="form-group">
                                <label for="semesterdescription">Semester description</label>
                                <textarea class="form-control" id="semesterdescription" placeholder="Semester description" rows="5" ng-model="formDataSemester.description" required></textarea>
                            </div>

                            <div class="form-group">
                                <label for="semesterprofile">Semester profile</label>
                                <select id="semesterprofile" class="form-control" ng-model="formDataSemester.profileid" required >
                                    <option ng-repeat="profile in profiles" value="{{ profile._id }}">{{ profile.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="semesterstartdate">Semester start date</label>
                                <input type="date" placeholder="yyyy-MM-dd" min="2014-01-01" class="form-control" id="semesterstartdate" ng-model="formDataSemester.startdate" required>
                            </div>

                            <div class="form-group">
                                <label for="semesterenddate">Semester end date</label>
                                <input type="date" placeholder="yyyy-MM-dd" min="2014-01-01" class="form-control" id="semesterenddate" ng-model="formDataSemester.enddate" required>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="addSemester()">Save semester</button>
                            </div>

                        </form>

                    </div>
                    
                    <div class="col-xs-12 col-sm-5" ng-show="showEditSemester">

                        <h3>Edit Semester</h3>
                        
                        <form name="Edit semester">
                            
                            <div class="form-group">
                                <label for="semestername">Semester name</label>
                                <input type="text" class="form-control" id="semestername" placeholder="Semester name" ng-model="semester.name" required>
                            </div>

                            <div class="form-group">
                                <label for="semesterdescription">Semester description</label>
                                <textarea class="form-control" id="semesterdescription" placeholder="Semester description" rows="5" ng-model="semester.description" required></textarea>
                            </div>

                            <div class="form-group">
                                <label for="semesterprofile">Semester profile</label>
                                <select id="semesterprofile" class="form-control" ng-model="semester.profileid" required >
                                    <option ng-repeat="profile in profiles" value="{{ profile._id }}">{{ profile.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="semesterstartdate">Semester start date</label>
                                <input type="date" min="2014-01-01" class="form-control" id="semesterstartdate" ng-model="semester.startdate" required>
                            </div>

                            <div class="form-group">
                                <label for="semesterenddate">Semester end date</label>
                                <input type="date" min="2014-01-01" class="form-control" id="semesterenddate" ng-model="semester.enddate" required>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="editSemester()">Update semester</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div><!-- end tab-pane -->

            <div class="tab-pane active" ng-show="isSet(3)">

                <div class="row">

                    <div class="col-xs-12 col-sm-12">
                        
                        <table class="table table-striped">

                            <tr>
                                <th>ID <a href="" ng-click="reverse=false; orderProjects('_id', false)">&uArr;</a><a href="" ng-click="reverse=false; orderProjects('-_id', false)">&dArr;</a></th>
                                <th>Name <a href="" ng-click="reverse=false; orderProjects('title', false)">&uArr;</a><a href="" ng-click="reverse=false; orderProjects('-title', false)">&dArr;</a></th>
                                <th>Actions</th>
                            </tr>

                            <tr ng-repeat="project in projects">
                                <td>{{ project._id }}</td>
                                <td>{{ project.title }}</td>
                                <td><a href="" ng-click="getProjectData(project._id)">Edit</a> / <a href="" ng-click="removeProject(project._id)">Delete</a></td>
                            </tr>
                            
                        </table>

                    </div>

                </div>

            </div><!-- end tab-pane -->

            <div class="tab-pane active" ng-show="isSet(4)">

                <div class="row">

                    <div class="col-xs-12 col-sm-7">
                        
                        <table class="table table-striped">

                            <tr>
                                <th>ID <a href="" ng-click="reverse=false; orderUsers('_id', false)">&uArr;</a><a href="" ng-click="reverse=false; orderUsers('-_id', false)">&dArr;</a></th>
                                <th>Firstname <a href="" ng-click="reverse=false; orderUsers('firstname', false)">&uArr;</a><a href="" ng-click="reverse=false; orderUsers('-firstname', false)">&dArr;</a></th>
                                <th>Lastname <a href="" ng-click="reverse=false; orderUsers('lastname', false)">&uArr;</a><a href="" ng-click="reverse=false; orderUsers('-lastname', false)">&dArr;</a></th>
                                <th>Actions</th>
                            </tr>

                            <tr ng-repeat="user in users">
                                <td>{{ user._id }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td><a href="" ng-click="getUserData(user._id)">Edit</a> / <a href="" ng-click="removeUser(user._id)">Delete</a></td>
                            </tr>
                            
                        </table>

                    </div>

                    <div class="col-xs-12 col-sm-5" ng-show="showEditUser">

                        <h3>Edit User</h3>
                        
                        <form name="Edit user">
                            
                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Firstname" ng-model="user.firstname" required>
                            </div>

                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Lastname" ng-model="user.lastname" required>
                            </div>

                            <div class="form-group">
                                <label for="userprofile">Profile</label>
                                <select id="userprofile" class="form-control" ng-model="user.profileid" required >
                                    <option ng-selected="{{ user.profileid == profile._id }}" ng-repeat="profile in profiles" value="{{ profile._id }}">{{ profile.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="studentnumber">Studentnumber</label>
                                <input type="text" class="form-control" id="studentnumber" placeholder="Studentnumber" ng-model="user.studentnumber" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" ng-model="user.email" required>
                            </div>

                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <textarea id="bio" rows="10" class="form-control" placeholder="Bio about you!" ng-model="user.bio" required></textarea>
                            </div>
    
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="editUser()">Update user</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div><!-- end tab-pane -->

        </div><!-- end tab-content -->

    </div>

</div><!-- end container -->
