<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="imageform" enctype="multipart/form-data"> 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="imageModalLabel">Profile image</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <input id="inputImage" type="file" accept="image/*" name="image">

                        <img ng-show="image" ng-src="{{ image.url }}" type="{{ image.file.type }}">
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button uploadimageprofileform type="submit" class="icabutton">Use image</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="profile-actions-container">
    <a saveportfolio href="#" id="save-portfolio" class="save-project icabutton">Save Portfolio</a>
</div>

<div class="profileinformation clearfix text-center">

    <div ng-show="user.picture" data-toggle="modal" data-target="#imageModal" class="image select-image"><div class="profile-logo-background" style="background-image: url('{{ user.picture }}');"></div></div>
 
    <div ng-hide="user.picture" data-toggle="modal" data-target="#imageModal" class="image select-image"><div class="profile-background"><i class="fa fa-picture-o"></i></div></div>

    <div class="col-xs-4 col-xs-offset-4 text-left form-margin">
        <div class="col-xs-6">
            <label for="firstname">Firstname</label>
            <div firstnameform id="firstnameedit"></div>
        </div>

        <div class="col-xs-6">
            <label for="lastname">Lastname</label>
            <div lastnameform id="lastnameedit"></div>
        </div>
    </div>

    <div class="col-xs-4 col-xs-offset-4 text-left form-margin">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="profile">Profile</label>
                <select class="form-control select-profile" ng-model="user.profileid" id="profile" required>
                    <option ng-selected="{{ user.profileid == profile._id }}" ng-repeat="profile in profiles" value="{{ profile._id }}">{{ profile.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-left">
        <div class="col-xs-12 form-group">
            <label for="bio">Bio</label>
            <div bioform id="bioedit"></div>
        </div>
    </div>
</div>

<hr>

<div class="row full-row">
    <div ng-repeat="project in projects | limitTo:6 track by $index">
        <div class="col-xs-12 col-md-4" ng-show="$index == 0 || $index > 0">
            <a href="/project/{{project._id}}">
                <div class="unplaced" style="background: url({{ project.banner }}) center center no-repeat; background-size:cover;">
                    <div class="plus-icon-editor edit-icon-editor">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <div class="page-info" >
                        <div class="visibility-of-title inner-circle">
                            {{ project.title }}  
                        </div>
                        <div class="visibility-of-votes inner-circle">
                            <i class="fa fa-heart"></i> {{ project.votes }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2" ng-repeat="project in projects">
        <a href="" ng-click="editProject(project._id)">Edit</a>
        <a href="" ng-click="removeProject(project._id)">Delete</a>
    </div> 
</div>
