<div class="row">

	<div class="col-sm-6">
	
		<div class="test" ng-repeat="test in tests">
			<h4>{{ test.title }} <span class="label label-default">{{ test.method }}</span> <small>{{ test.url }}</small> <a href="/tests/{{ test._id }}"class="btn btn-primary btn-sm" ng-click="">Details</a></h4>
		</div>

	</div><!-- end col-sm-6 -->

	<div class="col-sm-6">

		<h2 class="col-sm-offset-4">Edit Collection</h2>

		<form class="form-horizontal">
	
			<div class="form-group">
				<label for="title" class="col-sm-4 control-label">Title</label>
				<div class="col-sm-8">
					<input id="title" type="text" class="form-control" ng-model="collection.title">
				</div>
			</div><!-- end form-group -->

			<div class="form-group">
				<label for="description" class="col-sm-4 control-label">Description</label>
				<div class="col-sm-8">
					<input id="description" type="text" class="form-control" ng-model="collection.description">
				</div>
			</div><!-- end form-group -->

			<div class="form-group">
		    	<div class="col-sm-offset-4 col-sm-8">
		    		<button type="submit" class="btn btn-primary" ng-click="updateCollection()">Save</button>
					<button type="submit" class="btn btn-primary" ng-click="deleteCollection()">Delete</button>
					<a href="/collections" class="btn btn-default">Cancel</a>
		    	</div>
		  	</div><!-- end form-groyp -->

		</form><!-- end form-horizontal-->

	</div><!-- end col-sm-6 -->

</div><!-- end row -->
