<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="imageform" enctype="multipart/form-data"> 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="imageModalLabel">Profile image</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <input id="inputImage" type="file" accept="image/*" name="image">

                        <img ng-show="image" ng-src="{{ image.url }}" type="{{ image.file.type }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button uploadimageform type="submit" class="btn btn-primary">Use image</button>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="project-actions">
        <a saveportfolio href="#" id="save-portfolio" class="save-project btn btn-default text-center">Save Portfolio</a>
    </div>
</div>

<div class="profileinformation clearfix text-center">

    <div ng-show="user.picture" data-toggle="modal" data-target="#imageModal" class="image select-image"><img ng-src="{{ user.picture }}"></div>

    <div ng-hide="user.picture" data-toggle="modal" data-target="#imageModal" class="image select-image"><div class="profile-background"><i class="fa fa-picture-o"></i></div></div>

    <div class="col-xs-4 col-xs-offset-4 text-left form-margin">
        <div class="col-xs-6">
            <label for="firstname">Firstname</label>
            <div firstnameform id="firstnameedit"></div>
            <!-- <input class="form-control" type="text" id="firstname" ng-model="user.firstname" required> -->
        </div>

        <div class="col-xs-6">
            <label for="lastname">Lastname</label>
            <div lastnameform id="lastnameedit"></div>
            <!-- <input class="form-control" type="text" id="lastname" ng-model="user.lastname" required> -->
        </div>
    </div>

    <div class="col-xs-4 col-xs-offset-4 text-left form-margin">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="profile">Profile</label>
                <select class="form-control" ng-model="user.profileid" id="profile" required>
                    <option ng-repeat="profile in profiles" value="{{ profile._id }}">{{ profile.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-left">
        <div class="col-xs-12 form-group">
            <label for="bio">Bio</label>
            <div bioform id="bioedit"></div>
            <!-- <textarea id="bio" rows="10" class="form-control" placeholder="Bio about you!" ng-model="user.bio" required></textarea> -->
        </div>
    </div>
</div>

<hr>

<h3>Projecten (Pjotr needs to put them in here)</h3>

<div class="row">
    <div class="col-xs-2" ng-repeat="project in projects">
        <a href="" ng-click="editProject(project._id)">Edit</a>
        <a href="" ng-click="removeProject(project._id)">Delete</a>
    </div> 
</div>
