<div id="Carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li ng-repeat="project in projects | limitTo:3" data-target="Carousel" data-slide-to="0" ng-class="{active : $first}"></li>
    </ol>

    <div id="carousel-style" class="carousel-inner">
        <div class="item" ng-repeat="project in projects | limitTo:3 track by $index" ng-class="{active : $first}">
            <div class="page-info">
                <h3>{{ project.title }}</h3> 
            </div>
            <img class="img-responsive" alt="Responsive image" ng-src="http://www.lorempixel.com/1920/1080/">
        </div>
    </div>

    <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" data-target="#Carousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>

<div class="row full-row">
    <div ng-repeat="project in projects track by $index">
        <div class="col-xs-12 col-md-4" ng-show="$index == 0 || $index > 0">
            <div class="unplaced">
                <img src="http://www.lorempixel.com/800/400/" alt="banner">
                <div class="page-info">
                   <h3>{{ project.title }}</h3> 
                </div
            </div>
        </div>
    </div>
</div>

<div class="view-more">
    <a href="/projects">
        <button type="button" class="btn btn-default btn-lg">VIEW MORE</button>
    </a>
</div>

