<div class="container">
    
    <div class="profiledescription">

        <div class="profilecolor">
            <span class="i"></span> Informatics
        </div>

        <div class="profilecolor">
            <span class="cmd"></span> Communication and Multimedia Design
        </div>

        <div class="profilecolor">
            <span class="bim"></span> Business IT and Management
        </div>

        <div class="profilecolor">
            <span class="ti"></span> Technical Informatics
        </div>

    </div>

</div>

<div class="container">

    <div class="profileslist" ng-repeat="profile in profiles">
        
        <a href="/profiles/{{ profile._id }}">
            <div class="profile-circle profile{{ profile.main }}">
                <div class="inner-circle">
                    {{ profile.name }}
                </div>
            </div>
        </a>

    </div>

</div>
