<div class="container">
    <div class="project-actions">
        <a onclick="slide_to_first()" menuside href="#" class="menu-toggle btn btn-default pull-left">Toggle Filter</a>
        <br><br><br><br><br>
    </div>
</div>

<p id="get-value" value="{{ projects.length }}"></p>

<div id="place_pages" class="row full-row">
    <div class="menu-side">
        <h2> Filter by:</h2>

        <div id="projects">
            <h3> Projects </h3>

            <div id="Title">
                <label for="Title-field">Project Title</label>
                <input id="Title-field" ng-model="search.title">
            </div>

            <label for="Semester">Semesters</label>
            <select ng-model="search.$">
                <option id="Semester" ng-repeat="semester in semesters" value=" {{ semester._id }} "> {{ semester.name }}</option>
            </select>

            <br>

            <label for="Semester-Date-field">Semester date</label>
            <select ng-model="search.$">
                <option id="date"> 2014, p1</option>
            </select>

        </div>

        <br>

        <div id="Students">
            <h3> Students <h3>

            <div id="Name">
                <label for="Name-field">Student Name</label>
                <input id="Name-field" ng-model="search.firstname">
            </div>
        </div>

    </div>


    <div class="slide-student">
        <div ng-repeat="project in projects | filter:search track by $index">
            <div class="col-xs-12 col-md-4" ng-show="$index >= 0 && $index < 6">
                <a href="/project/{{project._id}}">
                    <div class="unplaced" style="background: url({{ project.banner }}) center center no-repeat; background-size:cover;">
                        <div class="page-info" >
                            <h3 class="visibility-of-title">{{ project.title }}</h3>
                            <p class="visibility-of-votes"><i class="fa fa-heart"></i> {{ project.votes }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="slide-student">
        <div ng-repeat="project in projects | filter:search track by $index">
            <div class="col-xs-12 col-md-4" ng-show="$index >= 6 && $index < 12">
                <a href="/project/{{project._id}}">
                    <div class="unplaced" style="background: url({{ project.banner }}) center center no-repeat; background-size:cover;">
                        <div class="page-info" >
                            <h3 class="visibility-of-title">{{ project.title }}</h3>
                            <p class="visibility-of-votes"><i class="fa fa-heart"></i> {{ project.votes }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>



</div>
    <div id="controles">

        <div id="left-student-slide" class="left carousel-control" onclick="clicked('left')">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <span id="right-student-slide" class="right carousel-control" onclick="clicked('right')">
           <span class="glyphicon glyphicon-chevron-right"></span>
        </span>

    </div>

