.slide-student {
    position: absolute!important;
    top:10%;
    left:0;
    -webkit-transition:left linear 0.5s;
    transition:left linear 0.5s;
}

.slide-student:nth-child(2) {
    left:0px;
}

.slide-student:nth-child(3) {
    left:calc(1920px + 1920px/2);
}

#left-student-slide, #right-student-slide {
    margin-top:-20px;
}

.unplaced {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
