body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
/**
 * Basic styles
 */
img {
    max-width: 100%;
    height: auto;
}

.icabutton {
    border: none;
    background: #ffd200;
    padding: 8px 15px;
    font-size: 14px;
    box-shadow: 0px 2px 4px #000000;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.icabutton:hover,
.icabutton:focus,
.icabutton:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    text-decoration: none;
    color: #000000;
    box-shadow: 0px 1px 2px #000000;
}

.modal-footer .icabutton,
.modal-footer .icabutton {
    margin: 0 auto;
    display: block;
}

/**
 * Navigation
 */
.navbar {
    background: #474748;
    border-bottom: none;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    color: #ffd200;
    background: none;
}

.navbar-form {
    margin-top: 18px;
}

.navbar-brand img {
    height: 40px;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
    background: #dfdfdf;
}

.navbar-nav > li > .dropdown-menu {
    background: #dfdfdf;
    border: none;
    width: 200px;
}

.dropdown-menu > li {
    text-align: center;
}

.dropdown > a > span {
    width: 52px;
    height: 52px;
    display: inline-block;
    margin-top: -16px;
    margin-bottom: -16px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 2px solid #9c9b9a;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    color: #333333;
    background: #ffd200;
}

/**
 * Slide out menu
 */
.menu {
    overflow-x: hidden;
    position: relative;
    left: 0;
    right: 0;
}

.menu-open {
    right: auto;
    left: 380px;
}

.menu-open .project-actions-container {
    left: 380px;
}

.menu-open .banner-background .plus-icon-editor {
    right: 400px;
}
 
.menu-open .menu-side {
    background: #e1e1e1;
    color: #333333;
    left: 0;
    padding-top: 90px;
    z-index: 2;
}

.menu-side, .menu {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

.menu-side {
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: -380px;
    width: 380px;
    padding: 10px;
    height: 100%;
    z-index: 2000;
}

.project-actions-container {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 70px;
    background: #9c9b9a;
    text-align: center;
    z-index: 1020;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

.profile-actions-container {
    background: #9c9b9a;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.project-actions {
    margin-top: 15px;
    position: relative;
    text-align: center
}

.project-actions img {
    max-height: 40px;
}

.project-actions .layout-button,
.project-actions > .help {
    color: #ffffff;
    font-size: 19px;
    line-height: 35px;
}

.project-actions > .help {
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.project-actions > button {
    margin: 0 5px;
}

.project-actions .layout-button:hover,
.project-actions .layout-button:focus,
.project-actions .layout-button:active,
.project-actions > .help:hover,
.project-actions > .help:focus,
.project-actions > .help:active {
    text-decoration: none;
    color: #ffd200;
}

.menu-toggle{
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle-filter {
    z-index: 9999;
    top: 85px;
    left: 15px;
}

/**
 * About page
 */
.about-page {
    height: 100%;
}

.about-wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.about-grey,
.about-yellow {
    background: #9c9b9a;
    position: relative;
}

.about-circle {
    position: absolute;
    top: -100px;
    left: calc(50% - 100px);
    width: 190px;
    height: 190px;
    text-align: center;
    background: rgba(255,255,255, 0.8);
    border: 5px solid #ffffff;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 22px;
    display: table;
    box-shadow: 0px 2px 4px #555555;
}

.about-circle > .inner-circle {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.about-yellow {
    background: #ffd200;
}

.about-content {
    padding: 200px 80px 80px 80px;
    font-size: 16px;
}

/**
 * Layout picks
 */
.project-layouts {
    margin-top: 40px;
}

.layout-item {
    width: 100%;
    text-align: center;
}

.layout-item i {
    font-size: 90px;
    margin: 0 10px;
}

.layout {
    position: relative;
    text-align: center;
}

.layout .plus-icon-editor {
    right: 25px;
}

.remove-layout {
    display: none;
    position: absolute;
    top: 20px;
    right: -20px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.layout:hover .remove-layout {
    display: block;
}

.layout-image img {
    max-width: 100%;
    height: auto;
}

.layout-image,
.layout-image-image,
.layout-image-image-image,
.layout-image-text,
.layout-text-image,
.layout-text,
.layout-video {
    padding: 20px 0;
    text-align: center;
}

.layout-image-text .image {
    text-align: center;
}

.layout-image-text .image img {
    max-width: 100%;
    height: auto;
}

.layout-text-image .image img {
    max-width: 100%;
    height: auto;
}

.layout-video .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
} 

.layout-video .embed-container iframe, 
.layout-video .embed-container object, 
.layout-video .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.layout .fr-tag {
    text-align: left;
}

.layout:hover 

.embed-container .actions {
    z-index: 999;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 160px);
}

.embed-container .actions a {
    display: inline-block;
    text-align: center;
    background: #eeeeee;
    width: 150px;
    height: 150px;
    font-size: 100px;
    margin-right: 10px;
    line-height: 150px;
}

.embed-container .actions a:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.modal-lg {
    width: 900px;
}

.froala-editor.f-basic.f-scroll-abs {
    position: initial;
}

/**
 * Project page
 */
.header-image {
    position: relative;
}

.header-image > img {
    width: 100%;
    height: auto;
}

.header-image .project-logo {
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
}

.project-banner .select-image {
    width: 100%;
    height: 300px;
}

.project-logo .select-image {
    width: 200px;
    height: 200px;
    margin: -110px auto 0 auto;
}

.header-image .project-logo img {
    position: absolute;
    bottom: -85px;
    left: calc(50% - 105px);
}

/**
 * Other stuff
 */

.margin-view {
    height: 100%;
    padding-top: 70px;
}

.firstPlace {
    border: 1px solid black;
    height: 800px!important;
    background-color: #428bca;
}

.secondAndThirdPlace {
    border: 1px solid black;
    height: 400px!important;
    background-color: #5cb85c;
}

.full-row {
    margin: 0 auto; 
}

.imagebanner {
    margin: 0 auto;
    height:200px;
    background-color: #428bca;
}

.contactrow {
    padding-left: 100px;
}

.contactheader h3 {
    padding-left: 100px;
}

@media(max-width: 768px) {
    .contactrow {
        
        padding-left: 0;
        
    }
    .footer {
        text-align: center;
    }
    .contactheader > h3 {
        text-align: center;
        padding-left: 0px;
    }
}


.footer {
    color: white;
    background: #252525;    
    height: auto;
    left: 0;    
    width: 100%;
}

.footer h3{
    
}

.footer a {
 color: white;   
}

.team-image img {
    border-radius: 50%;
    display: inline-block;
    background-color: green;
    width:200px;
    height:200px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top:350px!important;    
}

.page-header {
    border: none;
    margin: 70px auto 0 auto;
}

.project-title-edit {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

.project-description-edit {
    text-align: center;
    font-size: 16px;
}

.projectsemesterform {
    position: absolute;
    top: 0;
    right: 100px;
}

#createdcontent .remove-layout,
#createdcontent .projectsemesterform,
.layout-video .actions,
#createdcontent .actions {
    display: none;
}

.tab-pane {
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.profileinformation {
    margin-top: 15px;
    margin-top: 250px;
}

.profileinformation .form-margin {
    margin-top: 20px;
}

.profileinformation .form-margin:last-child {
    margin-bottom: 0px;
}

.project-logo-background {
    position: absolute;
    left: calc(50% - 100px);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-logo-background {
    position: absolute;
    left: calc(50% - 100px);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 150px;
}

.profile-logo-profile-page {
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#vote,
.vote-success,
.vote-fail {
    display: none;
}

#createdcontent {
    margin-top: -65px;
}

#createdcontent #vote {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    width: 40px;
}

.layout-video:hover .actions {
    display: block;
}

.banner-background {
    height: 100%;
    background: #ffd200;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    padding: 40px 0 120px 0;
}

.profile-background,
.logo-background {
    background: #ddd;
    padding: 50px 0;  
    margin: 0 auto;  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.logo-background {
    margin: -70px auto 0 auto;
    background: #ffffff;
    box-shadow: 0px 1px 2px #000000;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.plus-icon-editor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    background: #ffd200;
    top: 10px;
    right: 10px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    line-height: 37px;
    vertical-align: middle;
    color: #000000;
}

.edit-icon-editor {
    right: 25px;
    padding: 3px;
}  

.image-background,
.text-background,
.youtube-background {
    padding: 40px;
    position: relative;
    background: #e1e1e1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.image-background:hover,
.text-background:hover,
.youtube-background:hover,
.logo-background:hover {
    background: #9c9b9a;
}

.banner-background:hover {
    background: #e1e1e1;
}

.select-text i, 
.select-image i, 
.select-youtube i {
    font-size: 100px;
    margin-right: 0;
}

.error-container {
    margin: 70px auto -70px auto;
}

.error-title {
    margin: 10px auto;
    display: none;
}

.error-semester {
    margin: 10px auto;
    display: none;   
}

.slide-student {
    position: absolute!important;
    left:0;
    margin-top: 115px;
    -webkit-transition:all ease 1.5s;
    transition:all ease 1.5s;
    height:300px;
    width:100%;
    margin-top: 115px;
}

.slide-student:nth-child(2) {
    left:0px;
}

.slide-student:nth-child(3) {
    left:calc(1920px + 1920px/2);
}

#left-student-slide, #right-student-slide {
    margin-top:-20px;
}

#controles{
    visibility: visible;
}

.img-responsive {
    display: block;
    margin: 0 auto;
    max-height: 903px;
    border-bottom: 1px solid black;
}

#Carousel{
    margin-top: -20px!important;
    margin-bottom: 20px;
    background-color: #252525;
    height:903px;
}

.carousel-indicators {
    /*background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
    /*background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    bottom: 60px;
}

.arrow-down {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 24px);
}

.page-info-carousel {
    position: absolute;
    height:200px;
    width:40%;
    color:white;
    top:70%;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: background-color 0.5s ease;
    background-color: rgba(25,25,25,0.3);
}

.page-info-carousel:hover {
    background-color: rgba(25,25,25,0.7);
}

/*
Student work.
*/
.unplaced {
    height:300px;
    margin-bottom: 30px;
}

.page-info {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
    border: 5px solid white;
    left: calc(50% - 110px);
    top: calc(50% - 110px);
    text-align: center;
    display: table;
    font-size: 16px;
    word-break: break-word;
    color: #333333;
}

.page-info > .inner-circle {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.view-more {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

#slider1_container, #slides {
    height:903px;
    width:1080px;
}

/*
votes
 */

.visibility-of-votes {
    position: absolute;
    left: 0;
    top: calc(50% - 16px);
    display: none;
    opacity:0;
}

.unplaced:hover .visibility-of-votes {
    font-size: 32px;
    opacity: 1;
}

.unplaced:hover .visibility-of-title {
    font-size: 16px;
    word-break: break-word;
    display: none;
}

.visibility-of-votes > i {
    color:red;
}

/**
 * Admin
 */
.search-button {
    margin-left: -23px;
    padding-left: 17px;
}

/**
 * Profiles and semesters
 */
.profilecolor {
    margin: 10px 0 10px 10px;
    width: 20%;
    padding-left: 20px;
    float: left;
    font-size: 19px;
    position: relative;
}

.profilecolor span {
    position: absolute;
    top: 8px;
    left: -10px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.profilecolor .i {
    background: #cf2a27;
}

.profilecolor .cmd {
    background: #ff9900;
}

.profilecolor .bim {
    background: #009e0f;
}

.profilecolor .ti {
    background: #2b78e4;
}

.profileslist a {
    display: block;
    width: 20%;
    float: left;
    margin: 80px auto;
}

.profileslist a:hover,
.profileslist a:active, 
.profileslist a:focus {
    text-decoration: none;
}

.profile-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;    
    font-size: 19px;
    text-align: center;
    color: #474748;
    display: table;
    border: 3px solid #333;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.profile-circle:hover {
    box-shadow: 0px 2px 4px #000000;
}

.profile-circle > .inner-circle {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.profile1 {
    border-color: #009e0f;
}

.profile2 {
    border-color: #ff9900;
}

.profile3 {
    border-color: #cf2a27;
}

.profile4 {
    border-color: #2b78e4;
}

.semestertitle {
    background: #ffd200;
    text-transform: uppercase;
    padding: 100px 0 150px 0;
    font-size: 35px;
    text-align: center;
}

/**
 * Filters
 */
#place_pages {
    height:600px;
}

#place_pages .menu-side {
    background: #9c9b9a;
    padding: 100px 30px 30px 30px;
    font-size: 16px;
}

#place_pages .menu-side-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#place_pages .menu-side-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

#place_pages .menu-side #projects {
    margin-bottom: 30px;
}

#place_pages .menu-side .customfield {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

#place_pages .menu-side .customfield label {
    width: 125px;
}

#place_pages .menu-side .customfield input,
#place_pages .menu-side .customfield select {
    width: 190px;
}

/**
 * User profile
 */
.header-image-profile {
    padding-top: 20px;
    position: relative;
}

.header-image-profile .editprofilebutton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #dfdfdf;
}

.popuplogo {
    margin: 0 auto 20px auto;
    width: 100px;
    height: auto;
    display: block;
}

.help-info {
    padding: 0 20px 20px 20px;
    font-size: 16px;
}


