*{
	box-sizing: border-box;
}

html
{
	background-color: azure;
}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 900px; 
	height:900px; 
	border:1px solid white; 
	float:right;
}
#draggable-container {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 900px; 
	height:900px; 
	border:1px solid white; 
	float:left;
}

#sortable li { 
	display:block; 
	padding: 3px; 
	float: left; 
	width: 15%; 
	height: 15%; 
	font-size: 1em; 
	text-align: center; 
}

#Image1 {
	width: 50% !important; 
	height: 25% !important;
}
#draggable1, #draggable2 { 
	width: 14%; 
	height: 14%; 
	float: left; 
	text-align: center; 
}

.drop {
	background-color: rgba(255,140,0,0.2);
	border:1px solid orange;
	color:black;
	margin:2px;
}

label 
{
    display: inline-block;
    width: 5em;
}